## 所需套件
* pandas
* json

In [11]:
import pandas as pd
import json

In [12]:
# 開啟爬好的資料，將檔案轉成 dict
jsonObj = open('Allcourse.json','r', encoding='utf-8')
data = json.load(jsonObj)

## 亂碼老師

* 微積分(一)                     童士��  --> 童士恒
* 勞動法概論     2     A         康�Y銘  --> 康倈銘
* 物件導向程式設計     2     A   黃健�Y --> 黃健倈
* 建築設計(五)A     3     A      陳�C仁 --> 陳䳭仁
* 生物化學(二)     3     A      王�痗� --> 王恒隆
* 體育                          黃�~蔚  --> 黃冸蔚

## 製作Dataframe

In [13]:
courses = []    # 課程列
for d in data:
    d = pd.Series(d)
    courses.append(d)

df_allCourse = pd.DataFrame(courses)    # 組成 DataFrame
df_allCourse.head()                     # 試一下結果

,id,dept,name,grade,class,teacher,period,category,credit,location
0,AMA01B,AM,微積分（二）,1,A,劉青松,"[[2, 3], [2, 4], [4, 3], [4, 4]]",True,4,C02-406
1,AMA02B,AM,線性代數（二）,1,A,梁育豪,"[[2, 1], [2, 2], [3, 2]]",True,3,C02-407
2,AMA03B,AM,基礎數學（二）,1,A,施信宏,"[[3, 3], [3, 4], [4, 1]]",True,3,C02-407
3,AMA05B,AM,數學實習（二）,1,A,劉青松,"[[4, 6], [4, 7]]",False,1,C02-406
4,AMA112,AM,程式設計,1,A,洪丞輝,"[[1, 2], [1, 3], [1, 4]]",True,3,C02-B101

In [14]:
df_allCourse[df_allCourse['name'] == ' 中文(下)']

,id,dept,name,grade,class,teacher,period,category,credit,location
365,GR0102,GR,中文(下),1,A,賴素玫,"[[1, 5], [1, 6]]",True,2,M01-204
366,GR0202,GR,中文(下),1,A,賴素玫,"[[1, 7], [1, 8]]",True,2,M01-204
367,GR0302,GR,中文(下),1,A,白崢勇,"[[1, 5], [1, 6]]",True,2,B01-106
368,GR0402,GR,中文(下),1,A,賴素玫,"[[3, 5], [3, 6]]",True,2,L02-101
369,GR0502,GR,中文(下),1,A,賴素玫,"[[3, 7], [3, 8]]",True,2,L02-101
370,GR0602,GR,中文(下),1,A,高美芸,"[[4, 5], [4, 6]]",True,2,L01-101
371,GR0702,GR,中文(下),1,A,趙翊彤,"[[1, 5], [1, 6]]",True,2,B01-103
372,GR1702,GR,中文(下),1,A,趙翊彤,"[[1, 7], [1, 8]]",True,2,B01-103
373,GR2102,GR,中文(下),1,A,林于盛,"[[3, 1], [3, 2]]",True,2,B01-107
374,GR2202,GR,中文(下),1,A,林于盛,"[[3, 3], [3, 4]]",True,2,B01-107
375,GR2302,GR,中文(下),1,A,陳猷青,"[[5, 5], [5, 6]]",True,2,B01-108
376,GR3102,GR,中文(下),1,A,黃淑瑮,"[[3, 7], [3, 8]]",True,2,B01-107
377,GR3202,GR,中文(下),1,A,蔡文彥,"[[3, 5], [3, 6]]",True,2,B01-108
378,GR3302,GR,中文(下),1,A,蔡文彥,"[[5, 1], [5, 2]]",True,2,B01-108
379,GR4102,GR,中文(下),1,A,郭國泰,"[[4, 3], [4, 4]]",True,2,B01-107
380,GR4202,GR,中文(下),1,A,郭國泰,"[[4, 5], [4, 6]]",True,2,B01-107
381,GR5302,GR,中文(下),1,A,白崢勇,"[[3, 5], [3, 6]]",True,2,B01-106
382,GR5402,GR,中文(下),1,A,白崢勇,"[[3, 7], [3, 8]]",True,2,B01-106
383,GR5502,GR,中文(下),1,A,喻緒琪,"[[1, 9], [1, 10]]",True,2,B01-108
384,GR5602,GR,中文(下),1,A,喻緒琪,"[[1, 11], [1, 12]]",True,2,B01-108
385,GR6302,GR,中文(下),1,A,許正平,"[[3, 5], [3, 6]]",True,2,M01-102

In [15]:
df_allCourse[df_allCourse['name'] == ' 英語會話與閱讀(下)：高階班']

,id,dept,name,grade,class,teacher,period,category,credit,location
387,GRA0AA,GR,英語會話與閱讀(下)：高階班,1,A,王嵩嵐,"[[1, 5], [1, 6]]",True,2,H1--102
388,GRA0AB,GR,英語會話與閱讀(下)：高階班,1,A,陳麗青,"[[3, 5], [3, 6]]",True,2,H1--102
389,GRA0AC,GR,英語會話與閱讀(下)：高階班,1,A,顏正裕,"[[1, 5], [1, 6]]",True,2,B01-101
390,GRA0AD,GR,英語會話與閱讀(下)：高階班,1,A,顏正裕,"[[1, 7], [1, 8]]",True,2,B01-101
391,GRA0AE,GR,英語會話與閱讀(下)：高階班,1,A,歐素雯,"[[3, 5], [3, 6]]",True,2,B01-101

In [16]:
df_allCourse[df_allCourse['name'] == ' 英語會話與閱讀(下)：中階班']

,id,dept,name,grade,class,teacher,period,category,credit,location
392,GRA0BA,GR,英語會話與閱讀(下)：中階班,1,A,蔡奎如,"[[1, 5], [1, 6]]",True,2,M01-206
393,GRA0BB,GR,英語會話與閱讀(下)：中階班,1,A,蔡奎如,"[[1, 7], [1, 8]]",True,2,M01-206
394,GRA0BC,GR,英語會話與閱讀(下)：中階班,1,A,蔡奎如,"[[3, 5], [3, 6]]",True,2,M01-206
395,GRA0BD,GR,英語會話與閱讀(下)：中階班,1,A,蔡奎如,"[[3, 7], [3, 8]]",True,2,M01-206
396,GRA0BE,GR,英語會話與閱讀(下)：中階班,1,A,許建華,"[[1, 5], [1, 6]]",True,2,B01-110
397,GRA0BF,GR,英語會話與閱讀(下)：中階班,1,A,許建華,"[[1, 7], [1, 8]]",True,2,B01-110
398,GRA0BG,GR,英語會話與閱讀(下)：中階班,1,A,陳信智,"[[3, 5], [3, 6]]",True,2,B01-110
399,GRA0BH,GR,英語會話與閱讀(下)：中階班,1,A,陳信智,"[[3, 7], [3, 8]]",True,2,B01-110
400,GRA0BI,GR,英語會話與閱讀(下)：中階班,1,A,王靜嫻,"[[1, 7], [1, 8]]",True,2,B01-107

In [17]:
df_allCourse[df_allCourse['name'] == ' 英語會話與閱讀(下)：初階班']

,id,dept,name,grade,class,teacher,period,category,credit,location
407,GRA1CA,GR,英語會話與閱讀(下)：初階班,1,A,楊淑華,"[[1, 5], [1, 6]]",True,2,B01-105
408,GRA1CB,GR,英語會話與閱讀(下)：初階班,1,A,楊淑華,"[[1, 7], [1, 8]]",True,2,B01-105
409,GRA1CC,GR,英語會話與閱讀(下)：初階班,1,A,唐淑芳,"[[3, 5], [3, 6]]",True,2,B01-104
410,GRA1CD,GR,英語會話與閱讀(下)：初階班,1,A,翁嵐瑜,"[[3, 5], [3, 6]]",True,2,B01-103
411,GRA1CE,GR,英語會話與閱讀(下)：初階班,1,A,邱玉萍,"[[3, 7], [3, 8]]",True,2,B01-108
412,GRA1CF,GR,英語會話與閱讀(下)：初階班,1,A,曾雅惠,"[[1, 7], [1, 8]]",True,2,B01-108
413,GRA1CG,GR,英語會話與閱讀(下)：初階班,1,A,唐淑芳,"[[3, 7], [3, 8]]",True,2,B01-104
414,GRA1CH,GR,英語會話與閱讀(下)：初階班,1,A,邱玉萍,"[[4, 9], [4, 10]]",True,2,B01-108
415,GRA1CI,GR,英語會話與閱讀(下)：初階班,1,A,曾雅惠,"[[1, 5], [1, 6]]",True,2,B01-108

## 總課程分析(時段)
* 真無聊
* 應用 : 分析學校人流

In [18]:
set(df_allCourse.dept)

{'AB',
 'AC',
 'AE',
 'AM',
 'AP',
 'CC',
 'CCD',
 'CCM',
 'CD',
 'CDA',
 'CE',
 'CHS',
 'CM',
 'CS',
 'DA',
 'DAP',
 'EE',
 'EL',
 'FI',
 'FL',
 'GL',
 'GR',
 'IFD',
 'IM',
 'KH',
 'LA',
 'LI',
 'LS',
 'SC',
 'SO',
 'WL'}

In [23]:
course_time = {}
for period in df_allCourse.period:
    for time in period:
        if (time[0], time[1]) in course_time:
            course_time[(time[0], time[1])] += 1
        else:
            course_time[(time[0], time[1])] = 1

course_time = pd.Series(course_time)
course_time = course_time.sort_index()

df = pd.DataFrame({'Mon':course_time[(1)], 'Tue':course_time[(2)], 'Wed':course_time[(3)], 'Thur':course_time[(4)], 'Fri':course_time[(5)], 'Sat':course_time[(6)]})

df = df.fillna(0).astype('int64')
df

      Mon  Tue  Wed  Thur  Fri  Sat
0.0    65    6    1     1    0    0
1.0    16   31   12    11   11    5
2.0    63   82   79    72   58    6
3.0    77  106  103    92   74    7
4.0    75  104  102    91   72    7
4.5     0    3    2     1    0    4
5.0    80   74   62    79   43    4
6.0    92   83   65   101   55    4
7.0    80   62   67   101   51    4
8.0    50    8   45    67   34    3
9.0    20    8   20    22   13    0
10.0   15   15   12    23    9    0
11.0   10   12    9    15    6    0
12.0    7    4    4     6    2    0
13.0    0    0    0     1    1    0

## Category 分類

In [29]:
jsonObj = open('class_code.json','r', encoding='utf-8')
class_code = json.load(jsonObj)

In [30]:
class_code

[{'text': '通識微學分', 'code': 'MI'},
 {'text': '共同必修系列', 'code': 'GR'},
 {'text': '核心通識', 'code': 'CC'},
 {'text': '通識人文科學類', 'code': 'LI'},
 {'text': '通識自然科學類', 'code': 'SC'},
 {'text': '通識社會科學類', 'code': 'SO'},
 {'text': '全民國防教育類', 'code': 'CD'},
 {'text': '興趣選修', 'code': 'IN'},
 {'text': '西洋語文學系', 'code': 'wl'},
 {'text': '運動健康與休閒學系', 'code': 'kh'},
 {'text': '工藝與創意設計學系', 'code': 'CCD'},
 {'text': '建築學系', 'code': 'DA'},
 {'text': '創意設計與建築學系', 'code': 'CDA'},
 {'text': '東亞語文學系', 'code': 'EL'},
 {'text': '運動競技學系', 'code': 'DAP'},
 {'text': '人文社會科學院共同課程', 'code': 'CHS'},
 {'text': '法律學系', 'code': 'la'},
 {'text': '政治法律學系', 'code': 'GL'},
 {'text': '財經法律學系', 'code': 'fl'},
 {'text': '法學院共同課程', 'code': 'CCL'},
 {'text': '應用經濟學系', 'code': 'ae'},
 {'text': '金融管理學系', 'code': 'FI'},
 {'text': '資訊管理學系', 'code': 'IM'},
 {'text': '管理學院共同課程', 'code': 'CCM'},
 {'text': '應用數學系', 'code': 'am'},
 {'text': '應用化學系', 'code': 'ac'},
 {'text': '應用物理學系', 'code': 'AP'},
 {'text': '理學院共同課程', 'code': 'CCS'},
 {'text': '電機工程學系', 'code': 'ee'},
 {'text': '土木與環境工程學系', 'code': 'CE'},
 {'text': '資訊工程學系', 'code': 'CS'},
 {'text': '化學工程及材料工程學系', 'code': 'CM'},
 {'text': '生命科學系', 'code': 'ls'},
 {'text': '亞太工商管理學系', 'code': 'ab'},
 {'text': '國際學生系', 'code': 'ISP'},
 {'text': '創新學院不分系', 'code': 'IFD'}]

## 做 ABC category 分類

In [31]:
# A1 系上必修 : 
# A2 系上選修 : 
# A3 共同必修 : 'GR'

# B1 核心通識 思維方法 : 'CC'
# B2 核心通識 美學素養 : 'CC'
# B3 核心通識 公民素養 : 'CC'
# B4 核心通識 文化素養 : 'CC'
# B5 核心通識 科學素養 : 'CC'
# B6 核心通識 倫理素養 : 'CC'

# C1 博雅通識 人文科學 : 'LI'
# C2 博雅通識 社會科學 : 'SO'
# C3 博雅通識 自然科學 : 'SC'

In [32]:
# 做 A,C 的分類
df_allCourse.loc[df_allCourse.dept == 'LI', 'category'] = 'C1'
df_allCourse.loc[df_allCourse.dept == 'SO', 'category'] = 'C2'
df_allCourse.loc[df_allCourse.dept == 'SC', 'category'] = 'C3'
df_allCourse.loc[df_allCourse.dept == 'GR', 'category'] = 'A3'
df_allCourse.loc[df_allCourse.dept == 'CC', 'category'] = 'B'
df_allCourse.loc[df_allCourse.category == True, 'category'] = 'A1'
df_allCourse.loc[df_allCourse.category == False, 'category'] = 'A2'

In [33]:
# 做 B 的細類
# [I1, I2, O3, O4, C5, C6]
C5 = []
C6 = []
I1 = []
I2 = []
O3 = []
O4 = []

# df_allCourse.id = 'CCXXXXX'
for dd in df_allCourse.id:
    I1.append(dd[:4] == 'CCI1')
    I2.append(dd[:4] == 'CCI2')
    O3.append(dd[:4] == 'CCO3')
    O4.append(dd[:4] == 'CCO4')
    C5.append(dd[:4] == 'CCC5')
    C6.append(dd[:4] == 'CCC6')
# CC 內放置各向度的真值表
CC = [I1, I2, O3, O4, C5, C6]
# .loc[bool_list, column_name] 將會把 bool_list中為True的rows拿出來
for i in range(0, 6):
    df_allCourse.loc[CC[i], 'category'] = 'B' + str(i + 1)

In [34]:
df_allCourse[df_allCourse['dept'] == 'EE']

,id,dept,name,grade,class,teacher,period,category,credit,location
813,EEA01B,EE,計算機概論(二),1,A,賴智錦,"[[2, 2], [2, 3], [2, 4]]",A1,3,L01-107
814,EEA02B,EE,普通物理學(二),1,A,郭馨徽,"[[4, 2], [4, 3], [4, 4]]",A1,3,B01-104
815,EEA03B,EE,普通物理學實驗(二),1,A,施明昌,"[[3, 10], [3, 11], [3, 12]]",A1,1,C01-211
816,EEA04B,EE,微積分(二),1,A,黃祥哲,"[[1, 2], [1, 3], [1, 4]]",A1,3,C01-B104
817,EEA052,EE,數位邏輯實驗,1,A,洪進華,"[[5, 2], [5, 3], [5, 4]]",A1,1,C01-201其他教室
...,...,...,...,...,...,...,...,...,...,...
918,EEF915,EE,射頻主動電路設計,4,B,龐一心,"[[3, 2], [3, 3], [3, 4]]",A2,3,C01-104
919,EEF963,EE,Java物件導向程式設計,4,B,廖述銘,"[[4, 6], [4, 7], [4, 8]]",A2,3,C01-104
920,EEG563,EE,類神經網路導論,4,B,李錫智,"[[3, 7], [3, 8], [3, 9]]",A2,3,C01-B101-1
921,EEG694,EE,深度學習與智慧型機械人,4,B,吳志宏,"[[5, 6], [5, 7], [5, 8]]",A2,3,L01-108
922,EEG70A,EE,智慧生活空間資訊截取與運用效能化設計(Ⅰ),4,B,梁明正,"[[2, 5], [2, 6], [2, 7]]",A2,3,C01-B101

## 電機AB班合開處理
### 電機AB班特性
* id, grade, location, teacher, ..., 除了class不同
* 目的移除 A 班，將 B 班['class']改成 AB

### 使用工具
* 使用到 `df.duplicated()` 處理重複項
* 使用到 `df.drop_duplicates()` 移除重複項

### df.duplicated
df.duplicated(subset, keep)
* subset : 必須裝東西，裡面可以塞比較的對象，所以不比 'class' 其他都可以
* keep : 分別有 'first' & 'last'，前者代表**保留前項==顯示後面為重複項**，後者代表**保留後項==顯示前面為重複項**

### df.drop_duplicates
df.drop_duplicates(subset, keep)
* subset : 必須裝東西，裡面可以塞比較的對象，所以不比 'class' 其他都可以
* keep : 分別有 'first' & 'last'，前者代表**保留前項==刪除後面重複項**，後者代表**保留後項==刪除前面重複項**

In [35]:
# repeat 為表示合開課堂
repeat = df_allCourse[df_allCourse.duplicated(subset = ['id', 'grade', 'location', 'teacher', 'dept'], keep='first')]
# 將電機重複項存入 B_class_repeat
B_class_repeat = list(repeat.index)
# 使用 loc 更改 B -> AB
df_allCourse.loc[B_class_repeat, 'class'] = 'AB'
# 移除重複項
df_allCourse = df_allCourse.drop_duplicates(subset = ['id', 'grade', 'location', 'teacher'], keep='last')
# 檢查
df_allCourse[df_allCourse['dept'] == 'EE'].tail()

,id,dept,name,grade,class,teacher,period,category,credit,location
918,EEF915,EE,射頻主動電路設計,4,AB,龐一心,"[[3, 2], [3, 3], [3, 4]]",A2,3,C01-104
919,EEF963,EE,Java物件導向程式設計,4,AB,廖述銘,"[[4, 6], [4, 7], [4, 8]]",A2,3,C01-104
920,EEG563,EE,類神經網路導論,4,AB,李錫智,"[[3, 7], [3, 8], [3, 9]]",A2,3,C01-B101-1
921,EEG694,EE,深度學習與智慧型機械人,4,AB,吳志宏,"[[5, 6], [5, 7], [5, 8]]",A2,3,L01-108
922,EEG70A,EE,智慧生活空間資訊截取與運用效能化設計(Ⅰ),4,AB,梁明正,"[[2, 5], [2, 6], [2, 7]]",A2,3,C01-B101

## 電機、土環 AB

In [36]:
course_dept = list(set(df_allCourse.dept))

# 移除電機土環
course_dept.remove('CE')
course_dept.remove('EE')

# 移除非 AB 系統的科系
for cd in course_dept:
    df_allCourse.loc[df_allCourse.dept == cd, 'class'] = ''

## 處理 DataFrame index 問題
* 因為有刪除其中內容，使得index數字中斷
* 使用 df.reset_index(drop=True)

In [37]:
df_allCourse = df_allCourse.reset_index(drop=True)

## 將DataFrame轉為JSON
* 因為內建df.to_json格式不是原格式
### 將 series -> dict
* pandas.Series : df.to_dict()

In [38]:
# 示範
df_allCourse.loc[1,].to_dict()

{'id': 'AMA02B',
 'dept': 'AM',
 'name': ' 線性代數（二）',
 'grade': '1',
 'class': '',
 'teacher': '梁育豪',
 'period': [[2, 1], [2, 2], [3, 2]],
 'category': 'A1',
 'credit': '3',
 'location': 'C02-407'}

In [39]:
all_course = [] #總課表

# 將各 series 轉為 dict 放置 all_course list
for i in range(len(df_allCourse)):
    tempCourse = df_allCourse.loc[i,].to_dict()
    all_course.append(tempCourse)
# 存入 AllCourse_new.json
with open('AllCourse_new.json','w',encoding='utf8') as f:
    f.write(json.dumps(all_course, ensure_ascii=False).encode("utf8",errors='ignore').decode("utf8",errors='ignore'))